---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: $white;
  font: 18px/1.5 $barunGothic;
  letter-spacing: -0.025em;
  color: $darkGray;
  @include mobile {
    font-size: 14px;
  }
}

.container {
  margin: 0 auto;
  max-width: 880px;
  padding: 0 20px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $barunGothic;
  color: $darkerGray;
  font-weight: 400;

  line-height: 1.3;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.2;
  }
}

h1 {
  font-size: 1.875em;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 1em 0;
  padding-left: 1.875em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

/* Tables */
table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: lighten(#111, 18%);
  border-collapse: collapse;
  border: 1px solid lighten(#828282, 40%);
  tr {
    &:nth-child(even) {
      background-color: lighten(lighten(#828282, 40%), 6%);
    }
  }
  th, td {
    padding: (30px / 3) (30px / 2);
    word-break: keep-all;
  }
  th {
    background-color: lighten(lighten(#828282, 40%), 3%);
    border: 1px solid darken(lighten(#828282, 40%), 4%);
    border-bottom-color: darken(lighten(#828282, 40%), 12%);
  }
  td {
    border: 1px solid lighten(#828282, 40%);
  }
}

.table {
  overflow-x: auto;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  margin-top: 1em;
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 20px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto 10px;
  }

  img {
    border-radius: 50%;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $barunGothic;
  font-weight: 300;
  font-size: 1.75em;
  letter-spacing: 1px;
}

.site-description {
  margin: -10px 0 0 0;
  color: $gray;
  font-size: 1em;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 25px; // @TODO: Vertically middle align
  font-family: $barunGothic;
  font-size: 1em;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 1em;
  }

  a {
    margin-left: 1.25em;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  word-break: break-all;
  blockquote {
    margin: 1em 0;
    border-left: 2px solid $gray;
    padding: 0 1em;
    color: $gray;
  }

  .entry {
    padding-bottom: 1em;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 0.875em;
  }
}

.wrapper-footer {
  margin-top: 20px;
}

footer {
  padding: 20px 0;
  text-align: center;
  small {
    font-family: $helvetica;
    font-size: 12px;
  }
}

.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tag {
  float: left;
  display: block;
  margin-right: 2px;
  span {
    display: inline-block;
    vertical-align: top;
    padding: 0.3em 0.8em;
    line-height: 1.5em;
    font-size: 0.75em;
    color: $white;
  }
  > span {
    background-color: #546E7A;
    + span {
      background-color: #78909C;
    }
  }
  &:hover {
    color: $white;
  }
}

.tags {
  line-height: 2em;
  &:after {
    display: block;
    clear: both;
    content: "";
  }
  > i {
    float: left;
    margin-right: 4px;
    font-size: 1.25em;
    line-height: 1.25em;
  }
}

.gist .blob-wrapper.data {
  max-height: 350px;
  overflow: auto;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
