---
layout: default
---

<article class="post">
<h1>{{ page.title }}</h1>

{% if page.thumbnail %}
<div class="post-thumbnail">
  <img src="{{ page.thumbnail }}" alt="{{ page.title }}" style="width: 100%; height: auto; border-radius: 8px; margin-bottom: 20px;">
</div>
{% endif %}

<div class="tags">
<i class="fa fa-tags"></i>
{% assign tags = page.tags | sort %}
{% include tagcloud.html %}
</div>

<div class="entry">
{{ content }}
</div>

{% include ad.html %}

<div class="date">
<i class="fa fa-clock"></i> Written on {{ page.date | date: "%B %e, %Y" }}
</div>

{% include disqus.html %}
</article>
